@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: #f8f9fa;
}

.not-found-title {
  font-size: 6rem;
  font-weight: bold;
  color: #343a40;
}

.not-found-message {
  font-size: 1.5rem;
  color: #6c757d;
}

.not-found-link {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
}

.not-found-link:hover {
  text-decoration: underline;
}

.container{
  // width: 100vw;
  // padding: 0px 80px;
  max-width: 1270px;
  margin: 0 auto;
}


header{
  .header{
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 12px 12px;
    background-color: #FAFAFA;
    border: 1px solid #0000001A;
    border-top: none;
    .discount-block{
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-left: 35px;
      line-height: 22.5px;
      font-size: 15px;
      p{
        margin-left: 12px;
        span{
          color: #FC8A06;
          font-weight: 700;
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }

    .right-block{
      display: flex;
      font-weight: 500;
      line-height: 22.5px;
      font-size: 15px;
      .location-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 430px;
        margin-right: 55px;
        img{
          width: 25px;
          height: 25px;
        }
        .change_location-btn{
          margin-left: 10px;
          color: #FC8A06;
          cursor: pointer;
          &:hover{
          text-decoration: underline;
          }
        }
      }
      .cart-block{
        display: flex;
        background-color: #028643;
        height: 70px;
        width: 370px;
        color: white;
        border-radius: 0 0 12px 12px;
        display: flex;
        justify-content: space-between;
        &:hover{
          opacity: 0.8;
        }
        .cart-sub-block{
          width: 33%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        .cart-icon{
          border-right: 1px solid rgb(255, 255, 255, 0.3);
        }
        .cart-count{
          border-right: 1px solid rgb(255, 255, 255, 0.3);
        }
      }
    }
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    .header-logo{
      // height: 53px;
      display: flex;
      font-size: 50px;
      color: #03081F;
      font-weight: 600;
      text-align: center;
      align-items: center;
    }
    ul{
      display: flex;
      text-align: center;
      align-items: center;
      list-style: none;
      font-size: 18px;
      line-height: 27px;
      width: 80%;
      justify-content: space-between;
      .profile-li{
        padding: 9px 34px;
      }
      li{
        height: 45px;
        display: flex;
        text-align: center;
        align-items: center;
        &:not(:last-child){
          padding: 9px 34px;
        }
        &:hover{
          text-decoration: underline;
        }
        a{
          color: inherit;
          text-decoration: none;
        }
        button{
          width: 234px;
          height: 61px;
          border-radius: 120px;
          background-color: #03081F;
          border: none;
          color: white;
          font-size: 18px;
          font-weight: 500;
          line-height: 27px;
          cursor: pointer;
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 17px 26px;
          &:hover{
            opacity: 0.8;
          }
        }
      }
      .active{
        border-radius: 120px;
        background-color: #FC8A06;
        color: white !important;
        transition: all 0.1s;
        &:hover{
          text-decoration: none;
        }
      }
      .inactive{
        color: black;
      }

    }
  }
}


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  background-color: #FAFAFA;
  border: 1px solid #0000001A;
  border-radius: 12px;
  margin-top: 40px;
  height: 610px;
  .hero-content {
    max-width: 40%;
  }
  .hero-content {
    h1 {
      font-size: 48px;
      color: #FF6F00;
      margin-bottom: 20px;
      span{
        color: black !important;
      } 
    }
  }
  .hero-content {
    p {
      font-size: 18px;
      color: #333;
      margin-bottom: 30px;
    }
  }
  .hero-search {
    display: flex;
    input {
      padding: 15px;
      font-size: 16px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #ccc;
      outline: none;
      border-radius: 120px 0 0 120px;
    }
    button {
      padding: 15px 25px;
      background-color: #FF6F00;
      color: #fff;
      font-size: 16px;
      border: none;
      border-radius: 0 120px 120px 0;
      cursor: pointer;

    }


  }

  .hero-images {
    position: relative;
    width: 100%;
    height: 100%;
    
    img {
      position: absolute;
      max-width: 100%;
    }
  
    .first {
      bottom: 0; /* регулировка позиции */
      left: -120px; /* регулировка позиции */
      z-index: 3; /* самый верхний слой */
    }
  
    .sec {
      bottom: 0; /* регулировка позиции */
      right: 150px;
      z-index: 2; /* средний слой */
    }
  
    .third {
      bottom: 0; /* регулировка позиции */
      right: 0px; /* регулировка позиции */
      z-index: 1; /* самый нижний слой */
    }
  }

}



.restaurants{
  margin-top: 60px;
  .list-block{
    display: flex;
    flex-wrap: wrap;
    .rest-block{
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &:not(:first-child){
        margin-left: 22px;
      }
      img{
        background-size: cover;
      }
      .div{
        background-color: #FC8A06;
        width: 100%;
        height: 20%;
        border-radius: 0px 0px 12px 12px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: 700;
        font-size: 14px;
      }
    }
  }
}

.become{
  height: 425px;
  margin-top: 55px;
}

.auth{
  margin-top: 50px;
  height: 400px;
  display: flex;
  justify-content: center;
  .login-block{
    .p{
      font-size: 28px;
      font-weight: 700;
      margin: auto;
      display: flex;
      justify-content: center;
    }
    .form-group{
      display: flex;
      flex-direction: column;
      &:not(:first-child){
        margin-top: 20px;
      }
    }
  }
}
.form-grou{
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  align-items: center;
  .submit-button{
    width: 200px;
    height: 40px;
    background-color: #03081F;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: none;
    border-radius: 50px;
    padding: 17px 26px;
    &:hover{
      opacity: 0.8;
    }
  }
}
.question-p{
  font-size: 14px !important;
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: 400;
  margin-top: 15px;
  margin-right: 40px;
  .signup-link{
    color: #007bff;
    margin-left: 5px;
    cursor: pointer;
  }
}

.name_and_email{
  display: flex;
  justify-content: space-between;
}
.between-center{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password-input{
  font-size: 16px;
  outline: none;
  border: none;
  flex-grow: 1;
}
.part-input{
  padding: 7px 15px;
  margin-top: 5px;
  border: 1px solid #E9EAF0;
  outline: none;
}

.part-input::placeholder{
  color: #8C94A3;
}
.password-container img{
  width: 20px;
}

.form-group{
  margin-top: 15px;
  input{
    margin-top: 5px;
  }
}
.input{
  padding: 7px 15px;
  border: 1px solid #E9EAF0;
  outline: none;
}
.reg-block{
  .p{
    font-size: 28px;
    font-weight: 700;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .form-group{
    display: flex;
    flex-direction: column;

    .submit-button{
      width: 200px;
      height: 40px;
      background-color: #03081F;
      border: none;
      color: white;
      font-size: 18px;
      font-weight: 500;
      line-height: 27px;
      cursor: pointer;
      display: flex;
      justify-content: space-around;
      align-items: center;
      outline: none;
      border-radius: 50px;
      padding: 17px 26px;
      margin: auto;
      &:hover{
        opacity: 0.8;
      }
    }
  }
}



footer{
  margin-top: 77px;
  .first-block{
    height: 370px;
    background-color: #D9D9D9;
    opacity: 0.6;
  }
  .last-block{
    height: 75px;
    background-color: #03081F;
  }
}

.become {
  background: linear-gradient(245.7deg, rgba(255, 255, 255, 0) 0.94%, rgba(3, 8, 31, 0.19) 51.68%, rgba(3, 8, 31, 0.89) 87.9%);
  background-image: url('./assets/images/becomeChef\ \(1\).png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 715px;
  padding: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  .top-block {
    width: 288px;
    height: 65px;
    border-radius: 0px 0px 12px 12px;
    background-color: white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
  }

  
  .get-started-block {
    position: absolute;
    flex-shrink: 0;
    bottom: 80px;
    button {
      width: 205px;
      border-radius: 120px;
      font-size: 18px;
      background-color: #FC8A06;
      color: white;
      height: 52px;
      outline: none;
      border: none;
      cursor: pointer;
    }
    
    p {
      margin: 10px;
    }
    
    .yellow-text {
      color: #FC8A06;
      font-family: "Poppins", sans-serif;
      font-size: 24px;
    }
    
    .main-text {
      color: white;
      font-size: 44px;
      line-height: 66px;
    }
  }
}


.seacrh-block{
  margin: auto;
  width: 1270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  .title{
    font-size: 24px;
    font-weight: 700;
    line-height: 48px;
  }
  .search-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 250px; /* Adjust the width as per your design */
    .search-input {
      width: 100%;
      padding: 12px 20px 12px 40px; /* Add padding-left to make space for the icon */
      border-radius: 25px; /* Rounded input */
      border: 1px solid #ccc;
      font-size: 16px;
      outline: none;
    }
    .search-icon {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 16px;
      color: #ccc; /* Adjust icon color */
    }
  }
  
  input{
    width: 250px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid #03081F;
    padding: 15px 20px;
    font-size: 14px;
    outline: none;
    &::placeholder{
      font-size: 14px;
      font-weight: 600;
    }
  }
}

.mini-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #FC8A06;
  color: white;
  font-weight: 600;
  .filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1270px;
    width: 1270px;
    .element{
      cursor: pointer;
      width: 125px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .active{
      background-color: #03081F;
      border-radius: 100px;
    } 
  }
}


.d-block{
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  .discount-block{
    width: 32%;
    height: 330px;
    position: relative;
    .top-text{
      color: white;
      background-color: black;
      border-radius: 0px 0px 12px 12px;
      position: absolute;
      top: 0;
      right: 0;
      width: 75px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      margin-right: 40px;
    }
    .bottom-text{
      position: absolute;
      flex-shrink: 0;
      bottom: 20px;
      left: 25px;
      display: flex;
      justify-content: space-between;
    }
    .add{
      position: absolute;
      bottom: 0;
      right: 0;
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 45px;
      background-color: rgb(255, 255, 255, 0.9);
      cursor: pointer;
    }
    .yellow-text {
      color: #FC8A06;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      font-weight: 600;
    }
    
    .main-text {
      color: white;
      font-size: 28px;
      font-weight: 600;
    }
  }
  .dis1 {
    background: linear-gradient(245.7deg, rgba(255, 255, 255, 0) 0.94%, rgba(3, 8, 31, 0.19) 51.68%, rgba(3, 8, 31, 0.89) 87.9%), 
                url("./assets/images/discount1.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .dis2 {
    background: linear-gradient(245.7deg, rgba(255, 255, 255, 0) 0.94%, rgba(3, 8, 31, 0.19) 51.68%, rgba(3, 8, 31, 0.89) 87.9%), 
                url("./assets/images/discount2.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .dis3 {
    background: linear-gradient(245.7deg, rgba(255, 255, 255, 0) 0.94%, rgba(3, 8, 31, 0.19) 51.68%, rgba(3, 8, 31, 0.89) 87.9%), 
                url("./assets/images/discount3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
}


.dishes{
  display: flex;
  flex-direction: column;
  max-width: 1330px;
  h2{
    margin-top: 50px;
  }
  .dish{
    width: 31%;
    display: flex;
    padding: 10px;
    border: 1px solid #0000001A;
    box-shadow: 5px 5px 34px 0px #00000040;
    border-radius: 12px;
    margin-right: 30px;
    margin-top: 20px;
    .dish-name{
      font-size: 20px;
      font-weight: 600;
    }
    .dish-price{
      font-weight: 700;
    }
    .right-block{
      position: relative;
      width: 220px;
      height: 180px;
      border-radius: 12px;
      background-image: url("./assets/images/Carbonara.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      .add{
        position: absolute;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-left-radius: 20px;
        background-color: rgb(255, 255, 255, 0.9);
        cursor: pointer;
        img{
          width: 48px;
          height: 48px;
        }
      }
    }
  }
}
.df{
  display: flex;
  flex-wrap: wrap;
}